:root {
  --header-bgcolor: #fff;
  --body-bgcolor: #d6d6d6d6;
  --text-color: #111517;
  --card-border-radius: 5px;
  --form-color: #fff;
  --placeholder: #000;
  --preloader: #fff;
}

.theme-dark {
  --header-bgcolor: #2B3844;
  --text-color: #fff;
  --body-bgcolor: #202C36;
  --form-color: #2B3844;
  --placeholder: #fff;
  --preloader: #ffffff96;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: "Nunito Sans";
  background-color: var(--body-bgcolor);
  color: var(--text-color);
  transition: color .5s,background-color .5s
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1245px;
  margin: 0 auto;
  padding: 0 25px;
}
